.fullwidth {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.fullwidth .carousel-wrapper {
    max-width: 100% !important;
}

.news  a.button:any-link, .news button {
    background-color: #297A38 !important;
    border-color: #297A38 !important;
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding: 6px 15px;
    font-size: 18px;    
}

.news a.button:hover, .news a.button:focus, .news button:hover, .news button:focus {
    background-color: #035011 !important;
    border-color: #035011 !important;
}

.news p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 18px;
}

.icons img {
    width: 80px !important;
}

.information p {
    font-size: 18px;
}

.information img {
    max-width: 200px !important;
}

.information a.button {
    padding: 0;
    color: #297a38;
    background: transparent;
    border: 0;
}

.information a.button:hover {
    text-decoration: underline;
    color: #297A38;
}

.fourcards ul li {
    border: 0 !important;
}

.fourcards strong {
    border: 0 !important;
    font-size: 16px !important;
}

.text-center h3 {
    text-align: center !important;
    color: #FFF !important;
}

footer {
    background-color: #00264d !important;
    color: #fff;
    font-size: 18px !important;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 18px !important;
}

footer a { 
    color: #FFF !important;
    padding-left: 17px;
    padding-right: 17px;
    border-right: 2px solid;
}

footer a:hover { 
    text-decoration: underline;
}

.block-news .cards-wrapper:first-child {
    padding: 0;
    padding-right: 66px;
}

.cards.variante1.top2news .smallnews.cards-card-body p strong {
    display: none;
}

.cards.variante1.top2news .smallnews.cards-card-body p {
    margin-top: 0;
}

.top2news .smallnews.cards-card-image {
    width: 40%;
    float: left;
}

.top2news .smallnews.cards-card-body {
    width: 50%;
    float: left;
    padding-left: 10px;
    margin: 0 !important;
}

.cards.wa-te li:first-child {
    background-color: transparent;
    background-image: linear-gradient(145deg, #25D366 0%, #068335 100%);
}

.breadcrumb.block {
    margin-bottom: 20px;
    font-size: 16px;
}

.listen-and-share-wrapper {
    text-align: right;
}

h1 {
    color: #003366;
}

.update-and-print .columns-img-col img {
    width: auto !important;
}

.update-and-print .columns-img-col {
    text-align: -webkit-right;
}

.update-and-print {
    margin-top: 50px;
}

.footer h2 {
    font-size: 35px;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.footer ul li {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.footer ul li:hover {
    text-decoration: underline;
}

.footer .columns-4-cols {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-wrapper {
    padding-top: 0;
}

.default-content-wrapper h1{
    text-align: center;
}

.attachments.block div div:nth-child(1) {
    width: 80px;
    float: left;
}

.attachments.block div div a, .articolo .button-container a  {
    text-decoration: none;
    color: #003366;
    font-size: 26px;
    font-weight: bold;
    background: none;
    margin: 0;
    padding: 0;
    background: url("https://main--buonalombardia--sgotenks.aem.live/icons/pdf.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-top: 10px;
    height: 55px;
}

.attachments.block div {
    display: inline-flex;
    width: 100%;

}

.breadcrumb-container ul li {
    margin-bottom: 30px;
}


.articolo .hero-container .hero-wrapper {
    max-width: 1200px;
    margin: auto;
}

.articolo .hero-container .hero-wrapper h1 {
    color: #003366;
}

.articolo .hero picture {
    position: relative;
}

.articolo .hero h1 {
    font-size: 30px;
}

@media (width >= 900px) {
    .articolo .hero {
      padding: 0;
    }

    .articolo .hero picture {
        position: absolute;
    }

    .articolo .hero picture, .articolo .hero h1 {
        width: 50%;
        margin: 0;
        box-sizing: border-box;

    }
    .articolo .hero picture {
        float: left;
    }

    .articolo .hero h1 {
        float: right;
        padding-left: 20px;
        font-size: 45px;
    }

  }

  .nav-brand a {
    font-size: 36px;
    color: #003366;
  }

  .nav-brand {
    flex-basis: 300px;
  }
  
    


